@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 209 64% 99%;
    --foreground: 209 69% 1%;
    --muted: 209 6% 85%;
    --muted-foreground: 209 13% 28%;
    --popover: 209 64% 99%;
    --popover-foreground: 209 69% 1%;
    --card: 209 64% 98%;
    --card-foreground: 0 0% 0%;
    --border: 209 9% 92%;
    --input: 209 9% 92%;
    --primary: 209 100% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 3% 82%;
    --secondary-foreground: 209 3% 22%;
    --accent: 209 3% 82%;
    --accent-foreground: 209 3% 22%;
    --destructive: 16 90% 24%;
    --destructive-foreground: 16 90% 84%;
    --ring: 209 100% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 209 57% 1%;
    --foreground: 209 35% 100%;
    --muted: 209 6% 15%;
    --muted-foreground: 209 13% 72%;
    --popover: 209 57% 1%;
    --popover-foreground: 209 35% 100%;
    --card: 209 57% 2%;
    --card-foreground: 0 0% 100%;
    --border: 209 9% 14%;
    --input: 209 9% 14%;
    --primary: 209 100% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 1% 9%;
    --secondary-foreground: 209 1% 69%;
    --accent: 209 1% 9%;
    --accent-foreground: 209 1% 69%;
    --destructive: 16 90% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 209 100% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }
  .prose h2 {
    @apply font-bricolage text-2xl text-foreground;
  }
}
